.advantage {
  position: relative;
  background-repeat: no-repeat;
  background-color: #e6ecf3;
  background-image: url("../img/main/advantage.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/advantage@2x.jpg");
  }

  background-size: cover;
  background-position: center;
}

.advantage__wrapper {
  padding-top: 113px;
  padding-bottom: 120px;

  @media (max-width: 1023px) {
    padding-top: 88px;
    padding-bottom: 96px;
  }

  @media (max-width: 767px) {
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.advantage__title {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 45px;

  @media (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 50px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }
}

.advantage__card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.advantage__card {
  min-width: 206px;
  background: $color-aliceblue;
  padding: 83px 34px 25px 30px;

  @media (max-width: 1023px) {
    padding: 71px 12px 21px 20px;
  }

  @media (max-width: 767px) {
    padding: 66px 15px 25px 20px;
  }

  &--ship {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon/ship.svg");
      background-repeat: no-repeat;
      width: 27px;
      height: 32px;
      top: 35px;
      left: 29px;

      @media (max-width: 1023px) {
        transform: scale(0.8);
        top: 21px;
        left: 17px;
      }
    }
  }

  &--allinclusive {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon/doublecheck.svg");
      background-repeat: no-repeat;
      width: 38px;
      height: 21px;
      top: 40px;
      left: 30px;

      @media (max-width: 1023px) {
        transform: scale(0.8);
        top: 29px;
        left: 17px;
      }

      @media (max-width: 767px) {
        top: 25px;
      }
    }
  }

  &--yacht {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon/yacht.svg");
      background-repeat: no-repeat;
      width: 42px;
      height: 15px;
      top: 43px;
      left: 29px;

      @media (max-width: 1023px) {
        transform: scale(0.8);
        top: 32px;
        left: 17px;
      }

      @media (max-width: 767px) {
        top: 25px;
      }
    }
  }
}

.advantage__card-subtitle {
  margin: 0 0 9px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;

  @media (max-width: 1023px) {
    line-height: 25px;
  }

  @media (max-width: 767px) {
    width: 170px;
  }
}

.advantage__card-content {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
