.article {
  display: flex;
  padding-top: 111px;
  padding-bottom: 120px;
  justify-content: space-between;

  @media (max-width: 1023px) {
    padding-top: 92px;
    padding-bottom: 96px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    padding-top: 58px;
    padding-bottom: 62px;
  }

  &--blackout {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.article__discription {
  align-self: center;
  width: 512px;
  margin-right: 88px;

  @media (max-width: 1023px) {
    width: 50%;
    margin-right: 30px;
  }

  @media (max-width: 767px) {
    width: auto;
    margin-bottom: 33px;
    margin-right: 0;
  }
}

.article___title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 22px;

  @media (max-width: 1023px) {
    width: 205px;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 13px;
  }

  @media (max-width: 767px) {
    width: 190px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
  }
}

.article___content {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.article__img {
  width: 560px;

  @media (max-width: 1023px) {
    width: 50%;
  }

  @media (max-width: 767px) {
    width: 290px;
  }

  & img {
    width: 560px;
    height: 301px;
    object-fit: cover;

    @media (max-width: 1023px) {
      height: 264px;
      object-fit: cover;
    }

    @media (max-width: 767px) {
      width: 290px;
      height: 186px;
    }
  }
}
