.booking {
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #62a3e5;
  background-repeat: no-repeat;
  background-image: url("../img/main/booking.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/booking@2x.jpg");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/main/booking-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/booking-tablet@2x.jpg");
    }
  }
}

.booking__wrapper {
  padding-top: 46px;
  padding-right: 160px;
  padding-bottom: 56px;
  padding-left: 160px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
    padding: 87px 174px 100px;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    padding: 57px 30px;
  }
}

.booking__text-wrapper {
  display: flex;
  flex-direction: column;
  width: 493px;
  margin-right: 20px;
  justify-content: center;

  @media (max-width: 1023px) {
    margin-bottom: 53px;
    margin-right: 0;
    width: 419px;
    text-align: center;
  }

  @media (max-width: 420px) {
    width: 257px;
    margin-bottom: 32px;
  }
}

.booking__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 5px;

  @media (max-width: 1023px) {
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 5px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 16px;
  }
}

.booking__content {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  width: 352px;

  @media (max-width: 1023px) {
    align-self: center;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 22px;
    width: auto;
  }
}

.booking__form {
  width: 403px;
  min-width: 403px;
  padding: 45px 50px;
  background: $color-default-tangaroa;
  color: $color-aliceblue;

  @media (max-width: 1023px) {
    padding: 33px 28px 53px;
  }

  @media (max-width: 767px) {
    width: 290px;
    min-width: 290px;
    padding-top: 33px;
    padding-right: 28px;
    padding-bottom: 53px;
    padding-left: 28px;
  }
}

.booking__group {
  border: none;
  margin: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 15px;
  }

  & input {
    border: none;
    background: $color-aliceblue;
    padding: 11px 16px;
    font-size: 14px;
    line-height: 21px;
    color: #011c40b3;
    margin-bottom: 20px;
    width: 100%;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    color: #011c40;
    font-size: 14px;
  }

  & :last-child {
    margin-bottom: 23px;

    @media (max-width: 767px) {
      margin-bottom: 23px;
    }
  }

  @media (max-width: 420px) {
    text-align: center;
  }
}

.booking__group-title {
  margin: 0 0 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: 767px) {
    line-height: 25px;
  }
}

.booking__checkbox {
  cursor: pointer;
  display: block;
  border: none;
  font-size: 10px;
  line-height: 130%;

  & input {
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    background: $color-aliceblue;
    border: none;

    @media (max-width: 767px) {
      margin-right: 7px;
    }
  }

  & label {
    display: block;
    margin-bottom: 8px;

    @media (max-width: 767px) {
      text-align: left;
    }
  }

  @media (max-width: 767px) {
    font-size: 10px;
    line-height: 120%;
  }

  @media (max-width: 420px) {
    &:last-child {
      text-align: left;
    }
  }
}

.booking__buttom {
  cursor: pointer;
  background: $color-aliceblue;
  width: 100%;
  padding: 12px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-tangaroa;

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: 767px) {
    padding: 7px;
  }
}
