.catalog {
  padding: 108px 118px 120px;

  @media (max-width: 1023px) {
    padding: 92px 60px 100px;
  }

  @media (max-width: 767px) {
    padding: 65px 25px;
  }
}

.catalog__wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 260px);
  gap: 30px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(auto-fill, 309px);
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.catalog__card {
  position: relative;
  max-height: 386px;

  @media (max-width: 767px) {
    margin: 0 auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
  }

  &:hover {
    .catalog__card-active {
      display: flex;
      height: 386px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      outline-style: none;
      outline-color: none;
      width: 260px;

      @media (max-width: 1023px) {
        width: 309px;
      }

      @media (max-width: 767px) {
        width: 270px;
      }

      & img {
        width: 100%;

        @media (max-width: 1023px) {
          min-width: 309px;
          height: 386px;
        }

        @media (max-width: 767px) {
          min-width: 270px;
        }
      }
    }
  }

  &:focus {
    .catalog__card-active {
      display: flex;
      height: 386px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      outline-style: none;
      outline-color: none;

      @media (max-width: 1023px) {
        width: 309px;
      }

      @media (max-width: 767px) {
        width: 270px;
      }
    }
  }

  & img {
    width: 100%;

    @media (max-width: 1023px) {
      height: 386px;
    }

    @media (max-width: 767px) {
      min-width: 270px;
    }
  }
}

.catalog__card-title {
  position: absolute;
  top: 87%;
  left: 12%;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-aliceblue;

  @media (max-width: 1023px) {
    top: 329px;
    left: 32px;
  }

  @media (max-width: 767px) {
    top: 339px;
    left: 25px;
  }
}

.catalog__card-active {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background: $color-default-tangaroa;
  box-shadow: 0 4px 35px #011c4026;
  padding: 28px 25px 35px;
  color: $color-aliceblue;
  overflow-y: scroll;
  width: 260px;

  & .catalog__card-content:last-of-type {
    margin-bottom: 25px;

    @media (max-width: 768px) {
      margin-bottom: 23px;
    }
  }

  @media (max-width: 1023px) {
    padding: 26px 35px 38px 34px;
    width: 309px;
  }

  @media (max-width: 767px) {
    padding-top: 28px;
    padding-right: 23px;
    padding-bottom: 35px;
    padding-left: 25px;
    width: 270px;
  }
}

.catalog__card-subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.catalog__card-title--active {
  position: static;
  margin-bottom: 15px;

  @media (max-width: 1023px) {
    margin-bottom: 14px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.catalog__card-content {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;

  @media (max-width: 767px) {
    margin-bottom: 12px;
  }
}

.catalog__card-button {
  background: $color-aliceblue;
  color: $color-default-tangaroa;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding: 10px 46px;
  cursor: pointer;
  border: none;
  user-select: none;

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: 1023px) {
    padding: 10px 63px;
  }

  @media (max-width: 767px) {
    padding: 11px 52px;
  }
}

.catalog__title {
  margin: 0 0 52px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @media (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: 767px) {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 26px;
  }
}
