.catalog {
  padding: 108px 118px 120px;

  @media (max-width: 1023px) {
    padding: 92px 60px 100px;
  }

  @media (max-width: 767px) {
    padding: 65px 25px;
  }
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.catalog__card {
  position: relative;
  width: 260px;


  @media (max-width: 1023px) {
    width: 309px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    width: 270px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
  }

  &:hover {
    .catalog__card-active {
      display: flex;
      height: 386px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      min-width: 260px;

      @media (max-width: 1023px) {
        width: 309px;
      }

      @media (max-width: 767px) {
        margin: 0 auto;
        width: 270px;
      }
    }
  }

  &:focus {
    .catalog__card-active {
      display: flex;
      height: 386px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      min-width: 260px;
    }
  }

  & img {
    @media (max-width: 1023px) {
      width: 309px;
      height: 386px;
    }

    @media (max-width: 1023px) {
      width: 309px;
    }

    @media (max-width: 767px) {
      width: 270px;
      min-width: 270px;
    }
  }
}

.catalog__card-title {
  position: absolute;
  top: 335px;
  left: 26px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-aliceblue;

  @media (max-width: 1023px) {
    top: 329px;
    left: 32px;
  }

  @media (max-width: 767px) {
    top: 339px;
    left: 25px;
  }
}

.catalog__card-active {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background: $color-default-tangaroa;
  box-shadow: 0 4px 35px #011c4026;
  padding: 32px 25px 35px;
  color: $color-aliceblue;
  overflow-y: scroll;

  @media (max-width: 1023px) {
    padding: 28px 35px 35px 31px;
  }

  @media (max-width: 767px) {
    padding: 25px 25px;
  }
}

.catalog__card-subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.catalog__card-title--active {
  position: static;
  margin-bottom: 8px;

  @media (max-width: 1023px) {
    margin-bottom: 10px;
  }
}

.catalog__card-content {
  margin: 0 0 13px;
  font-size: 14px;
  line-height: 20px;
}

.catalog__card-button {
  background: $color-aliceblue;
  color: $color-default-tangaroa;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding: 10px 46px;
  cursor: pointer;
  border: none;
  user-select: none;

  &:hover {
    opacity: 0.6;
  }

  @media (max-width: 1023px) {
    padding: 10px 63px;
  }

  @media (max-width: 767px) {
    padding: 14px 52px;
  }
}

.catalog__title {
  margin: 0 0 52px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @media (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: 767px) {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 26px;
  }
}
