.container {

  max-width: 1920px;
  margin: 0 auto;
  padding-left: 103px;
  padding-right: 103px;

  @media (max-width: 768px) {

    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 320px) {

    padding-left: 15px;
    padding-right: 15px;
  }
}
